--
-- PostgreSQL database dump
--

\restrict 6fnaSQQkzHIZUayzxYrsfnaOwipVwsuLaaltk0AvOhCr9K2sgYnx4zzPBqYfQAQ

-- Dumped from database version 16.14
-- Dumped by pg_dump version 16.14

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: AuditAction; Type: TYPE; Schema: public; Owner: memorial
--

CREATE TYPE public."AuditAction" AS ENUM (
    'LOGIN',
    'LOGIN_FAILED',
    'LOGOUT',
    'PROFILE_CREATE',
    'PROFILE_UPDATE',
    'PROFILE_SOFT_DELETE',
    'PROFILE_RESTORE',
    'PROFILE_HARD_DELETE',
    'TREE_CREATE',
    'TREE_DELETE',
    'USER_ROLE_CHANGE',
    'ACCESS_CODE_GENERATE',
    'ACCESS_CODE_REDEEM',
    'TREE_UPDATE',
    'TIMELINE_EVENT_CREATE',
    'TIMELINE_EVENT_UPDATE',
    'TIMELINE_EVENT_DELETE',
    'ACCESS_GRANT_CREATE',
    'ACCESS_GRANT_UPDATE',
    'ACCESS_GRANT_DELETE',
    'ACCESS_CODE_REVOKE',
    'ACCESS_CODE_DELETE',
    'DISPUTE_CREATE',
    'DISPUTE_UPDATE_STATUS',
    'DISPUTE_RESOLVE',
    'DISPUTE_WITHDRAW',
    'MERGE_REQUEST_CREATE',
    'MERGE_REQUEST_OWNER_APPROVE',
    'MERGE_REQUEST_ADMIN_APPROVE',
    'MERGE_REQUEST_REJECT',
    'MERGE_REQUEST_EXECUTE',
    'MERGE_REQUEST_CANCEL',
    'LEGACY_CONTACT_SET',
    'LEGACY_CONTACT_INVITE_SEND',
    'LEGACY_CONTACT_INVITE_ACCEPT',
    'LEGACY_CONTACT_REVOKE',
    'LEGACY_CONTACT_TRIGGER',
    'LEGACY_CLAIM_CREATE',
    'LEGACY_CLAIM_APPROVE',
    'LEGACY_CLAIM_REJECT',
    'OWNERSHIP_TRANSFER',
    'LEGACY_CLAIM_EXPIRE'
);


ALTER TYPE public."AuditAction" OWNER TO memorial;

--
-- Name: BlockType; Type: TYPE; Schema: public; Owner: memorial
--

CREATE TYPE public."BlockType" AS ENUM (
    'HERO',
    'CHILDHOOD',
    'EDUCATION',
    'CAREER',
    'FAMILY',
    'HOBBIES',
    'LEGACY',
    'CUSTOM'
);


ALTER TYPE public."BlockType" OWNER TO memorial;

--
-- Name: DisputeReason; Type: TYPE; Schema: public; Owner: memorial
--

CREATE TYPE public."DisputeReason" AS ENUM (
    'WRONG_INFO',
    'INAPPROPRIATE',
    'OWNERSHIP_CLAIM',
    'DUPLICATE',
    'OTHER'
);


ALTER TYPE public."DisputeReason" OWNER TO memorial;

--
-- Name: DisputeStatus; Type: TYPE; Schema: public; Owner: memorial
--

CREATE TYPE public."DisputeStatus" AS ENUM (
    'OPEN',
    'UNDER_REVIEW',
    'RESOLVED_ACCEPTED',
    'RESOLVED_REJECTED',
    'WITHDRAWN'
);


ALTER TYPE public."DisputeStatus" OWNER TO memorial;

--
-- Name: Gender; Type: TYPE; Schema: public; Owner: memorial
--

CREATE TYPE public."Gender" AS ENUM (
    'MALE',
    'FEMALE',
    'UNKNOWN'
);


ALTER TYPE public."Gender" OWNER TO memorial;

--
-- Name: LegacyClaimStatus; Type: TYPE; Schema: public; Owner: memorial
--

CREATE TYPE public."LegacyClaimStatus" AS ENUM (
    'PENDING',
    'APPROVED',
    'REJECTED',
    'EXPIRED'
);


ALTER TYPE public."LegacyClaimStatus" OWNER TO memorial;

--
-- Name: LegacyContactStatus; Type: TYPE; Schema: public; Owner: memorial
--

CREATE TYPE public."LegacyContactStatus" AS ENUM (
    'PENDING',
    'ACTIVE',
    'TRIGGERED',
    'TRANSFERRED',
    'REVOKED'
);


ALTER TYPE public."LegacyContactStatus" OWNER TO memorial;

--
-- Name: MediaKind; Type: TYPE; Schema: public; Owner: memorial
--

CREATE TYPE public."MediaKind" AS ENUM (
    'IMAGE',
    'AUDIO',
    'VIDEO',
    'DOCUMENT'
);


ALTER TYPE public."MediaKind" OWNER TO memorial;

--
-- Name: MemoryType; Type: TYPE; Schema: public; Owner: memorial
--

CREATE TYPE public."MemoryType" AS ENUM (
    'TEXT',
    'PHOTO',
    'AUDIO',
    'VIDEO'
);


ALTER TYPE public."MemoryType" OWNER TO memorial;

--
-- Name: MergeStatus; Type: TYPE; Schema: public; Owner: memorial
--

CREATE TYPE public."MergeStatus" AS ENUM (
    'PENDING_OWNERS',
    'PENDING_ADMIN',
    'APPROVED',
    'EXECUTED',
    'REJECTED',
    'CANCELLED'
);


ALTER TYPE public."MergeStatus" OWNER TO memorial;

--
-- Name: RelationType; Type: TYPE; Schema: public; Owner: memorial
--

CREATE TYPE public."RelationType" AS ENUM (
    'PARENT',
    'SPOUSE',
    'ADOPTIVE',
    'STEP'
);


ALTER TYPE public."RelationType" OWNER TO memorial;

--
-- Name: TgLoginStatus; Type: TYPE; Schema: public; Owner: memorial
--

CREATE TYPE public."TgLoginStatus" AS ENUM (
    'PENDING',
    'READY',
    'CONSUMED',
    'EXPIRED'
);


ALTER TYPE public."TgLoginStatus" OWNER TO memorial;

--
-- Name: TimelineCategory; Type: TYPE; Schema: public; Owner: memorial
--

CREATE TYPE public."TimelineCategory" AS ENUM (
    'BIRTH',
    'DEATH',
    'MARRIAGE',
    'EDUCATION',
    'CAREER',
    'RELOCATION',
    'AWARD',
    'HISTORICAL',
    'CUSTOM'
);


ALTER TYPE public."TimelineCategory" OWNER TO memorial;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: memorial
--

CREATE TYPE public."UserRole" AS ENUM (
    'USER',
    'EDITOR',
    'ADMIN'
);


ALTER TYPE public."UserRole" OWNER TO memorial;

--
-- Name: Visibility; Type: TYPE; Schema: public; Owner: memorial
--

CREATE TYPE public."Visibility" AS ENUM (
    'PUBLIC',
    'UNLISTED',
    'PASSWORD',
    'PRIVATE'
);


ALTER TYPE public."Visibility" OWNER TO memorial;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: AuditLog; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."AuditLog" (
    id text NOT NULL,
    action public."AuditAction" NOT NULL,
    "userId" text,
    "entityType" text,
    "entityId" text,
    "oldValue" jsonb,
    "newValue" jsonb,
    metadata jsonb,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."AuditLog" OWNER TO memorial;

--
-- Name: CandleLight; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."CandleLight" (
    id text NOT NULL,
    "profileId" text,
    "userId" text,
    fingerprint text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."CandleLight" OWNER TO memorial;

--
-- Name: ContentBlock; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."ContentBlock" (
    id text NOT NULL,
    "profileId" text NOT NULL,
    type public."BlockType" NOT NULL,
    title text,
    body text NOT NULL,
    "photoId" text,
    "order" integer NOT NULL,
    "isHidden" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ContentBlock" OWNER TO memorial;

--
-- Name: FamilyClan; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."FamilyClan" (
    id text NOT NULL,
    "treeId" text NOT NULL,
    name text NOT NULL,
    color text DEFAULT '#c8a84b'::text NOT NULL,
    icon text DEFAULT '✦'::text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."FamilyClan" OWNER TO memorial;

--
-- Name: FamilyConnection; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."FamilyConnection" (
    id text NOT NULL,
    "fromNodeId" text NOT NULL,
    "toNodeId" text NOT NULL,
    type public."RelationType" NOT NULL,
    "startDate" timestamp(3) without time zone,
    "endDate" timestamp(3) without time zone,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."FamilyConnection" OWNER TO memorial;

--
-- Name: FamilyNode; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."FamilyNode" (
    id text NOT NULL,
    "treeId" text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text,
    "maidenName" text,
    "birthDate" timestamp(3) without time zone,
    "deathDate" timestamp(3) without time zone,
    gender public."Gender" DEFAULT 'UNKNOWN'::public."Gender" NOT NULL,
    "photoId" text,
    notes text,
    "posX" double precision,
    "posY" double precision,
    generation integer,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "clanId" text
);


ALTER TABLE public."FamilyNode" OWNER TO memorial;

--
-- Name: FamilyTree; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."FamilyTree" (
    id text NOT NULL,
    name text NOT NULL,
    description text,
    "ownerId" text NOT NULL,
    visibility public."Visibility" DEFAULT 'UNLISTED'::public."Visibility" NOT NULL,
    "accessHash" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."FamilyTree" OWNER TO memorial;

--
-- Name: GalleryItem; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."GalleryItem" (
    id text NOT NULL,
    "profileId" text NOT NULL,
    "mediaId" text NOT NULL,
    caption text,
    "order" integer NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."GalleryItem" OWNER TO memorial;

--
-- Name: GuestMemory; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."GuestMemory" (
    id text NOT NULL,
    "profileId" text NOT NULL,
    "authorUserId" text,
    "authorName" text NOT NULL,
    type public."MemoryType" DEFAULT 'TEXT'::public."MemoryType" NOT NULL,
    text text,
    "mediaId" text,
    "isApproved" boolean DEFAULT false NOT NULL,
    "approvedAt" timestamp(3) without time zone,
    "approvedById" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."GuestMemory" OWNER TO memorial;

--
-- Name: LegacyClaim; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."LegacyClaim" (
    id text NOT NULL,
    "legacyContactId" text NOT NULL,
    "claimantId" text NOT NULL,
    status public."LegacyClaimStatus" DEFAULT 'PENDING'::public."LegacyClaimStatus" NOT NULL,
    evidence text,
    "reviewerId" text,
    "reviewedAt" timestamp(3) without time zone,
    "reviewNotes" text,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."LegacyClaim" OWNER TO memorial;

--
-- Name: LegacyContact; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."LegacyContact" (
    id text NOT NULL,
    "ownerId" text NOT NULL,
    "heirUserId" text,
    "heirEmail" text NOT NULL,
    "heirName" text,
    status public."LegacyContactStatus" DEFAULT 'PENDING'::public."LegacyContactStatus" NOT NULL,
    "inviteTokenHash" text,
    "inviteExpiresAt" timestamp(3) without time zone,
    "inviteSentAt" timestamp(3) without time zone,
    "verifiedAt" timestamp(3) without time zone,
    "triggeredAt" timestamp(3) without time zone,
    "inactivityDays" integer DEFAULT 90 NOT NULL,
    message text,
    "revokedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."LegacyContact" OWNER TO memorial;

--
-- Name: Media; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."Media" (
    id text NOT NULL,
    kind public."MediaKind" NOT NULL,
    url text NOT NULL,
    "originalName" text,
    "mimeType" text NOT NULL,
    "sizeBytes" integer NOT NULL,
    width integer,
    height integer,
    "durationSec" integer,
    "uploadedById" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."Media" OWNER TO memorial;

--
-- Name: PasswordResetToken; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."PasswordResetToken" (
    id text NOT NULL,
    "userId" text NOT NULL,
    "tokenHash" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "usedAt" timestamp(3) without time zone,
    ip text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."PasswordResetToken" OWNER TO memorial;

--
-- Name: Profile; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."Profile" (
    id text NOT NULL,
    slug text NOT NULL,
    "fullName" text NOT NULL,
    "birthDate" timestamp(3) without time zone,
    "deathDate" timestamp(3) without time zone,
    "birthPlace" text,
    "deathPlace" text,
    "burialPlace" text,
    "burialLat" double precision,
    "burialLng" double precision,
    bio text,
    "coverPhotoId" text,
    gender public."Gender" DEFAULT 'UNKNOWN'::public."Gender" NOT NULL,
    visibility public."Visibility" DEFAULT 'PUBLIC'::public."Visibility" NOT NULL,
    "accessHash" text,
    "ownerId" text NOT NULL,
    "familyNodeId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "searchVector" tsvector GENERATED ALWAYS AS (((setweight(to_tsvector('russian'::regconfig, COALESCE("fullName", ''::text)), 'A'::"char") || setweight(to_tsvector('russian'::regconfig, COALESCE(bio, ''::text)), 'B'::"char")) || setweight(to_tsvector('russian'::regconfig, COALESCE("burialPlace", ''::text)), 'C'::"char"))) STORED,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public."Profile" OWNER TO memorial;

--
-- Name: ProfileAccess; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."ProfileAccess" (
    id text NOT NULL,
    "profileId" text NOT NULL,
    "userId" text NOT NULL,
    "grantedBy" text NOT NULL,
    "canEdit" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ProfileAccess" OWNER TO memorial;

--
-- Name: ProfileAccessCode; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."ProfileAccessCode" (
    id text NOT NULL,
    "profileId" text NOT NULL,
    "codeHash" text NOT NULL,
    label text,
    "expiresAt" timestamp(3) without time zone,
    "revokedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."ProfileAccessCode" OWNER TO memorial;

--
-- Name: ProfileDispute; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."ProfileDispute" (
    id text NOT NULL,
    "profileId" text NOT NULL,
    "reporterId" text NOT NULL,
    reason public."DisputeReason" NOT NULL,
    description text NOT NULL,
    evidence text,
    status public."DisputeStatus" DEFAULT 'OPEN'::public."DisputeStatus" NOT NULL,
    "resolverId" text,
    resolution text,
    "resolvedAt" timestamp(3) without time zone,
    "mergeRequestId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "duplicateOfProfileId" text
);


ALTER TABLE public."ProfileDispute" OWNER TO memorial;

--
-- Name: ProfileMergeRequest; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."ProfileMergeRequest" (
    id text NOT NULL,
    "sourceProfileId" text NOT NULL,
    "targetProfileId" text NOT NULL,
    "requesterId" text NOT NULL,
    reason text,
    status public."MergeStatus" DEFAULT 'PENDING_OWNERS'::public."MergeStatus" NOT NULL,
    "sourceOwnerApprovedAt" timestamp(3) without time zone,
    "sourceOwnerApprovedBy" text,
    "targetOwnerApprovedAt" timestamp(3) without time zone,
    "targetOwnerApprovedBy" text,
    "adminApprovedAt" timestamp(3) without time zone,
    "adminApprovedBy" text,
    "executedAt" timestamp(3) without time zone,
    "rejectedAt" timestamp(3) without time zone,
    "rejectedBy" text,
    "rejectionReason" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public."ProfileMergeRequest" OWNER TO memorial;

--
-- Name: QrPlaque; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."QrPlaque" (
    id text NOT NULL,
    "profileId" text NOT NULL,
    code text NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "orderedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "shippedAt" timestamp(3) without time zone
);


ALTER TABLE public."QrPlaque" OWNER TO memorial;

--
-- Name: TgLoginToken; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."TgLoginToken" (
    id text NOT NULL,
    token text NOT NULL,
    status public."TgLoginStatus" DEFAULT 'PENDING'::public."TgLoginStatus" NOT NULL,
    "userId" text,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "confirmedAt" timestamp(3) without time zone,
    "consumedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public."TgLoginToken" OWNER TO memorial;

--
-- Name: TimelineEvent; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."TimelineEvent" (
    id text NOT NULL,
    "familyNodeId" text,
    "profileId" text,
    category public."TimelineCategory" NOT NULL,
    title text NOT NULL,
    description text,
    date timestamp(3) without time zone NOT NULL,
    "dateAccuracy" text,
    place text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "iconKey" text,
    "createdById" text,
    "deletedAt" timestamp(3) without time zone
);


ALTER TABLE public."TimelineEvent" OWNER TO memorial;

--
-- Name: User; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public."User" (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    "displayName" text,
    role public."UserRole" DEFAULT 'USER'::public."UserRole" NOT NULL,
    "telegramId" bigint,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastSeenAt" timestamp(3) without time zone,
    "legacyInactivityDays" integer DEFAULT 90 NOT NULL,
    "acceptedTermsAt" timestamp(3) without time zone,
    "acceptedTermsIp" text,
    "jwtVersion" integer DEFAULT 0 NOT NULL
);


ALTER TABLE public."User" OWNER TO memorial;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: memorial
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO memorial;

--
-- Data for Name: AuditLog; Type: TABLE DATA; Schema: public; Owner: memorial
--



--
-- Data for Name: CandleLight; Type: TABLE DATA; Schema: public; Owner: memorial
--

COPY public."CandleLight" (id, "profileId", "userId", fingerprint, "createdAt") FROM stdin;
cmq22hzey0003o12802ac437o	\N	cmpvm2avm0000qz36l57c1d7z	1202a7ce0594c499eb00c8556eba873a	2026-06-06 08:04:41.481
cmq23074e0005o128t1i1jf79	\N	cmpvm2avm0000qz36l57c1d7z	1202a7ce0594c499eb00c8556eba873a	2026-06-06 08:18:51.274
\.


--
-- Data for Name: ContentBlock; Type: TABLE DATA; Schema: public; Owner: memorial
--



--
-- Data for Name: FamilyClan; Type: TABLE DATA; Schema: public; Owner: memorial
--



--
-- Data for Name: FamilyConnection; Type: TABLE DATA; Schema: public; Owner: memorial
--



--
-- Data for Name: FamilyNode; Type: TABLE DATA; Schema: public; Owner: memorial
--



--
-- Data for Name: FamilyTree; Type: TABLE DATA; Schema: public; Owner: memorial
--

COPY public."FamilyTree" (id, name, description, "ownerId", visibility, "accessHash", "createdAt", "updatedAt") FROM stdin;
cmpx2xehh0000pa313hbd9znu	Родословное древо Морозовых, Соколовых, Волковых и Петровых	Белорусское генеалогическое древо четырёх пересекающихся родов на протяжении пяти поколений (43 человека).	cmpvm2avm0000qz36l57c1d7z	PUBLIC	\N	2026-06-02 20:17:49.972	2026-06-02 20:17:49.972
\.


--
-- Data for Name: GalleryItem; Type: TABLE DATA; Schema: public; Owner: memorial
--

COPY public."GalleryItem" (id, "profileId", "mediaId", caption, "order", "createdAt") FROM stdin;
\.


--
-- Data for Name: GuestMemory; Type: TABLE DATA; Schema: public; Owner: memorial
--



--
-- Data for Name: LegacyClaim; Type: TABLE DATA; Schema: public; Owner: memorial
--

COPY public."LegacyClaim" (id, "legacyContactId", "claimantId", status, evidence, "reviewerId", "reviewedAt", "reviewNotes", "expiresAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: LegacyContact; Type: TABLE DATA; Schema: public; Owner: memorial
--

COPY public."LegacyContact" (id, "ownerId", "heirUserId", "heirEmail", "heirName", status, "inviteTokenHash", "inviteExpiresAt", "inviteSentAt", "verifiedAt", "triggeredAt", "inactivityDays", message, "revokedAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: Media; Type: TABLE DATA; Schema: public; Owner: memorial
--



--
-- Data for Name: PasswordResetToken; Type: TABLE DATA; Schema: public; Owner: memorial
--

COPY public."PasswordResetToken" (id, "userId", "tokenHash", "expiresAt", "usedAt", ip, "createdAt") FROM stdin;
\.


--
-- Data for Name: Profile; Type: TABLE DATA; Schema: public; Owner: memorial
--



--
-- Data for Name: ProfileAccess; Type: TABLE DATA; Schema: public; Owner: memorial
--

COPY public."ProfileAccess" (id, "profileId", "userId", "grantedBy", "canEdit", "createdAt") FROM stdin;
\.


--
-- Data for Name: ProfileAccessCode; Type: TABLE DATA; Schema: public; Owner: memorial
--

COPY public."ProfileAccessCode" (id, "profileId", "codeHash", label, "expiresAt", "revokedAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: ProfileDispute; Type: TABLE DATA; Schema: public; Owner: memorial
--

COPY public."ProfileDispute" (id, "profileId", "reporterId", reason, description, evidence, status, "resolverId", resolution, "resolvedAt", "mergeRequestId", "createdAt", "updatedAt", "duplicateOfProfileId") FROM stdin;
\.


--
-- Data for Name: ProfileMergeRequest; Type: TABLE DATA; Schema: public; Owner: memorial
--

COPY public."ProfileMergeRequest" (id, "sourceProfileId", "targetProfileId", "requesterId", reason, status, "sourceOwnerApprovedAt", "sourceOwnerApprovedBy", "targetOwnerApprovedAt", "targetOwnerApprovedBy", "adminApprovedAt", "adminApprovedBy", "executedAt", "rejectedAt", "rejectedBy", "rejectionReason", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: QrPlaque; Type: TABLE DATA; Schema: public; Owner: memorial
--

COPY public."QrPlaque" (id, "profileId", code, "isActive", "orderedAt", "shippedAt") FROM stdin;
\.


--
-- Data for Name: TgLoginToken; Type: TABLE DATA; Schema: public; Owner: memorial
--

COPY public."TgLoginToken" (id, token, status, "userId", "expiresAt", "confirmedAt", "consumedAt", "createdAt") FROM stdin;
\.


--
-- Data for Name: TimelineEvent; Type: TABLE DATA; Schema: public; Owner: memorial
--



--
-- Data for Name: User; Type: TABLE DATA; Schema: public; Owner: memorial
--

COPY public."User" (id, email, "passwordHash", "displayName", role, "telegramId", "createdAt", "updatedAt", "lastSeenAt", "legacyInactivityDays", "acceptedTermsAt", "acceptedTermsIp", "jwtVersion") FROM stdin;
cmpvm2avm0000qz36l57c1d7z	admin@admin.local	100000:c311cba939369047011b4696c4666684:7c8f8199f6c779c78829450a97ed2faef65aa592d7dfbf8eee04a5cb572c0e0e4386635fe76644d7ca2bd44d255566fc1ed9504af297276ccf95c8970ff67d1a	admin	ADMIN	\N	2026-06-01 19:37:58.931	2026-06-06 21:00:01.072	2026-06-06 21:00:01.068	90	2026-06-01 19:37:58.665	\N	2
\.


--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: memorial
--



--
-- Name: AuditLog AuditLog_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_pkey" PRIMARY KEY (id);


--
-- Name: CandleLight CandleLight_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."CandleLight"
    ADD CONSTRAINT "CandleLight_pkey" PRIMARY KEY (id);


--
-- Name: ContentBlock ContentBlock_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ContentBlock"
    ADD CONSTRAINT "ContentBlock_pkey" PRIMARY KEY (id);


--
-- Name: FamilyClan FamilyClan_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."FamilyClan"
    ADD CONSTRAINT "FamilyClan_pkey" PRIMARY KEY (id);


--
-- Name: FamilyConnection FamilyConnection_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."FamilyConnection"
    ADD CONSTRAINT "FamilyConnection_pkey" PRIMARY KEY (id);


--
-- Name: FamilyNode FamilyNode_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."FamilyNode"
    ADD CONSTRAINT "FamilyNode_pkey" PRIMARY KEY (id);


--
-- Name: FamilyTree FamilyTree_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."FamilyTree"
    ADD CONSTRAINT "FamilyTree_pkey" PRIMARY KEY (id);


--
-- Name: GalleryItem GalleryItem_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."GalleryItem"
    ADD CONSTRAINT "GalleryItem_pkey" PRIMARY KEY (id);


--
-- Name: GuestMemory GuestMemory_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."GuestMemory"
    ADD CONSTRAINT "GuestMemory_pkey" PRIMARY KEY (id);


--
-- Name: LegacyClaim LegacyClaim_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."LegacyClaim"
    ADD CONSTRAINT "LegacyClaim_pkey" PRIMARY KEY (id);


--
-- Name: LegacyContact LegacyContact_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."LegacyContact"
    ADD CONSTRAINT "LegacyContact_pkey" PRIMARY KEY (id);


--
-- Name: Media Media_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."Media"
    ADD CONSTRAINT "Media_pkey" PRIMARY KEY (id);


--
-- Name: PasswordResetToken PasswordResetToken_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."PasswordResetToken"
    ADD CONSTRAINT "PasswordResetToken_pkey" PRIMARY KEY (id);


--
-- Name: PasswordResetToken PasswordResetToken_tokenHash_key; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."PasswordResetToken"
    ADD CONSTRAINT "PasswordResetToken_tokenHash_key" UNIQUE ("tokenHash");


--
-- Name: ProfileAccessCode ProfileAccessCode_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ProfileAccessCode"
    ADD CONSTRAINT "ProfileAccessCode_pkey" PRIMARY KEY (id);


--
-- Name: ProfileAccess ProfileAccess_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ProfileAccess"
    ADD CONSTRAINT "ProfileAccess_pkey" PRIMARY KEY (id);


--
-- Name: ProfileDispute ProfileDispute_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ProfileDispute"
    ADD CONSTRAINT "ProfileDispute_pkey" PRIMARY KEY (id);


--
-- Name: ProfileMergeRequest ProfileMergeRequest_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ProfileMergeRequest"
    ADD CONSTRAINT "ProfileMergeRequest_pkey" PRIMARY KEY (id);


--
-- Name: Profile Profile_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."Profile"
    ADD CONSTRAINT "Profile_pkey" PRIMARY KEY (id);


--
-- Name: QrPlaque QrPlaque_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."QrPlaque"
    ADD CONSTRAINT "QrPlaque_pkey" PRIMARY KEY (id);


--
-- Name: TgLoginToken TgLoginToken_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."TgLoginToken"
    ADD CONSTRAINT "TgLoginToken_pkey" PRIMARY KEY (id);


--
-- Name: TimelineEvent TimelineEvent_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."TimelineEvent"
    ADD CONSTRAINT "TimelineEvent_pkey" PRIMARY KEY (id);


--
-- Name: User User_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."User"
    ADD CONSTRAINT "User_pkey" PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: AuditLog_action_createdAt_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "AuditLog_action_createdAt_idx" ON public."AuditLog" USING btree (action, "createdAt");


--
-- Name: AuditLog_createdAt_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "AuditLog_createdAt_idx" ON public."AuditLog" USING btree ("createdAt");


--
-- Name: AuditLog_entityType_entityId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "AuditLog_entityType_entityId_idx" ON public."AuditLog" USING btree ("entityType", "entityId");


--
-- Name: AuditLog_userId_createdAt_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "AuditLog_userId_createdAt_idx" ON public."AuditLog" USING btree ("userId", "createdAt");


--
-- Name: CandleLight_fingerprint_createdAt_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "CandleLight_fingerprint_createdAt_idx" ON public."CandleLight" USING btree (fingerprint, "createdAt");


--
-- Name: CandleLight_profileId_createdAt_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "CandleLight_profileId_createdAt_idx" ON public."CandleLight" USING btree ("profileId", "createdAt");


--
-- Name: CandleLight_userId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "CandleLight_userId_idx" ON public."CandleLight" USING btree ("userId");


--
-- Name: ContentBlock_profileId_order_key; Type: INDEX; Schema: public; Owner: memorial
--

CREATE UNIQUE INDEX "ContentBlock_profileId_order_key" ON public."ContentBlock" USING btree ("profileId", "order");


--
-- Name: ContentBlock_profileId_type_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "ContentBlock_profileId_type_idx" ON public."ContentBlock" USING btree ("profileId", type);


--
-- Name: FamilyClan_treeId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "FamilyClan_treeId_idx" ON public."FamilyClan" USING btree ("treeId");


--
-- Name: FamilyClan_treeId_name_key; Type: INDEX; Schema: public; Owner: memorial
--

CREATE UNIQUE INDEX "FamilyClan_treeId_name_key" ON public."FamilyClan" USING btree ("treeId", name);


--
-- Name: FamilyConnection_fromNodeId_toNodeId_type_key; Type: INDEX; Schema: public; Owner: memorial
--

CREATE UNIQUE INDEX "FamilyConnection_fromNodeId_toNodeId_type_key" ON public."FamilyConnection" USING btree ("fromNodeId", "toNodeId", type);


--
-- Name: FamilyConnection_fromNodeId_type_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "FamilyConnection_fromNodeId_type_idx" ON public."FamilyConnection" USING btree ("fromNodeId", type);


--
-- Name: FamilyConnection_toNodeId_type_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "FamilyConnection_toNodeId_type_idx" ON public."FamilyConnection" USING btree ("toNodeId", type);


--
-- Name: FamilyNode_lastName_firstName_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "FamilyNode_lastName_firstName_idx" ON public."FamilyNode" USING btree ("lastName", "firstName");


--
-- Name: FamilyNode_treeId_generation_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "FamilyNode_treeId_generation_idx" ON public."FamilyNode" USING btree ("treeId", generation);


--
-- Name: FamilyTree_ownerId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "FamilyTree_ownerId_idx" ON public."FamilyTree" USING btree ("ownerId");


--
-- Name: GalleryItem_profileId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "GalleryItem_profileId_idx" ON public."GalleryItem" USING btree ("profileId");


--
-- Name: GalleryItem_profileId_order_key; Type: INDEX; Schema: public; Owner: memorial
--

CREATE UNIQUE INDEX "GalleryItem_profileId_order_key" ON public."GalleryItem" USING btree ("profileId", "order");


--
-- Name: GuestMemory_authorUserId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "GuestMemory_authorUserId_idx" ON public."GuestMemory" USING btree ("authorUserId");


--
-- Name: GuestMemory_profileId_isApproved_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "GuestMemory_profileId_isApproved_idx" ON public."GuestMemory" USING btree ("profileId", "isApproved");


--
-- Name: LegacyClaim_claimantId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "LegacyClaim_claimantId_idx" ON public."LegacyClaim" USING btree ("claimantId");


--
-- Name: LegacyClaim_expiresAt_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "LegacyClaim_expiresAt_idx" ON public."LegacyClaim" USING btree ("expiresAt");


--
-- Name: LegacyClaim_legacyContactId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "LegacyClaim_legacyContactId_idx" ON public."LegacyClaim" USING btree ("legacyContactId");


--
-- Name: LegacyClaim_status_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "LegacyClaim_status_idx" ON public."LegacyClaim" USING btree (status);


--
-- Name: LegacyContact_heirEmail_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "LegacyContact_heirEmail_idx" ON public."LegacyContact" USING btree ("heirEmail");


--
-- Name: LegacyContact_heirUserId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "LegacyContact_heirUserId_idx" ON public."LegacyContact" USING btree ("heirUserId");


--
-- Name: LegacyContact_inviteTokenHash_key; Type: INDEX; Schema: public; Owner: memorial
--

CREATE UNIQUE INDEX "LegacyContact_inviteTokenHash_key" ON public."LegacyContact" USING btree ("inviteTokenHash");


--
-- Name: LegacyContact_ownerId_key; Type: INDEX; Schema: public; Owner: memorial
--

CREATE UNIQUE INDEX "LegacyContact_ownerId_key" ON public."LegacyContact" USING btree ("ownerId");


--
-- Name: LegacyContact_status_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "LegacyContact_status_idx" ON public."LegacyContact" USING btree (status);


--
-- Name: LegacyContact_triggeredAt_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "LegacyContact_triggeredAt_idx" ON public."LegacyContact" USING btree ("triggeredAt");


--
-- Name: Media_kind_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "Media_kind_idx" ON public."Media" USING btree (kind);


--
-- Name: Media_uploadedById_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "Media_uploadedById_idx" ON public."Media" USING btree ("uploadedById");


--
-- Name: PasswordResetToken_expiresAt_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "PasswordResetToken_expiresAt_idx" ON public."PasswordResetToken" USING btree ("expiresAt");


--
-- Name: PasswordResetToken_userId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "PasswordResetToken_userId_idx" ON public."PasswordResetToken" USING btree ("userId");


--
-- Name: ProfileAccessCode_profileId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "ProfileAccessCode_profileId_idx" ON public."ProfileAccessCode" USING btree ("profileId");


--
-- Name: ProfileAccess_profileId_userId_key; Type: INDEX; Schema: public; Owner: memorial
--

CREATE UNIQUE INDEX "ProfileAccess_profileId_userId_key" ON public."ProfileAccess" USING btree ("profileId", "userId");


--
-- Name: ProfileAccess_userId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "ProfileAccess_userId_idx" ON public."ProfileAccess" USING btree ("userId");


--
-- Name: ProfileDispute_createdAt_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "ProfileDispute_createdAt_idx" ON public."ProfileDispute" USING btree ("createdAt");


--
-- Name: ProfileDispute_duplicateOfProfileId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "ProfileDispute_duplicateOfProfileId_idx" ON public."ProfileDispute" USING btree ("duplicateOfProfileId");


--
-- Name: ProfileDispute_mergeRequestId_key; Type: INDEX; Schema: public; Owner: memorial
--

CREATE UNIQUE INDEX "ProfileDispute_mergeRequestId_key" ON public."ProfileDispute" USING btree ("mergeRequestId");


--
-- Name: ProfileDispute_profileId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "ProfileDispute_profileId_idx" ON public."ProfileDispute" USING btree ("profileId");


--
-- Name: ProfileDispute_reason_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "ProfileDispute_reason_idx" ON public."ProfileDispute" USING btree (reason);


--
-- Name: ProfileDispute_reporterId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "ProfileDispute_reporterId_idx" ON public."ProfileDispute" USING btree ("reporterId");


--
-- Name: ProfileDispute_status_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "ProfileDispute_status_idx" ON public."ProfileDispute" USING btree (status);


--
-- Name: ProfileMergeRequest_createdAt_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "ProfileMergeRequest_createdAt_idx" ON public."ProfileMergeRequest" USING btree ("createdAt");


--
-- Name: ProfileMergeRequest_requesterId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "ProfileMergeRequest_requesterId_idx" ON public."ProfileMergeRequest" USING btree ("requesterId");


--
-- Name: ProfileMergeRequest_sourceProfileId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "ProfileMergeRequest_sourceProfileId_idx" ON public."ProfileMergeRequest" USING btree ("sourceProfileId");


--
-- Name: ProfileMergeRequest_status_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "ProfileMergeRequest_status_idx" ON public."ProfileMergeRequest" USING btree (status);


--
-- Name: ProfileMergeRequest_targetProfileId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "ProfileMergeRequest_targetProfileId_idx" ON public."ProfileMergeRequest" USING btree ("targetProfileId");


--
-- Name: Profile_coverPhotoId_key; Type: INDEX; Schema: public; Owner: memorial
--

CREATE UNIQUE INDEX "Profile_coverPhotoId_key" ON public."Profile" USING btree ("coverPhotoId");


--
-- Name: Profile_deletedAt_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "Profile_deletedAt_idx" ON public."Profile" USING btree ("deletedAt");


--
-- Name: Profile_familyNodeId_key; Type: INDEX; Schema: public; Owner: memorial
--

CREATE UNIQUE INDEX "Profile_familyNodeId_key" ON public."Profile" USING btree ("familyNodeId");


--
-- Name: Profile_fullName_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "Profile_fullName_idx" ON public."Profile" USING btree ("fullName");


--
-- Name: Profile_ownerId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "Profile_ownerId_idx" ON public."Profile" USING btree ("ownerId");


--
-- Name: Profile_searchVector_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "Profile_searchVector_idx" ON public."Profile" USING gin ("searchVector");


--
-- Name: Profile_slug_key; Type: INDEX; Schema: public; Owner: memorial
--

CREATE UNIQUE INDEX "Profile_slug_key" ON public."Profile" USING btree (slug);


--
-- Name: Profile_visibility_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "Profile_visibility_idx" ON public."Profile" USING btree (visibility);


--
-- Name: QrPlaque_code_key; Type: INDEX; Schema: public; Owner: memorial
--

CREATE UNIQUE INDEX "QrPlaque_code_key" ON public."QrPlaque" USING btree (code);


--
-- Name: QrPlaque_profileId_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "QrPlaque_profileId_idx" ON public."QrPlaque" USING btree ("profileId");


--
-- Name: TgLoginToken_status_expiresAt_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "TgLoginToken_status_expiresAt_idx" ON public."TgLoginToken" USING btree (status, "expiresAt");


--
-- Name: TgLoginToken_token_key; Type: INDEX; Schema: public; Owner: memorial
--

CREATE UNIQUE INDEX "TgLoginToken_token_key" ON public."TgLoginToken" USING btree (token);


--
-- Name: TimelineEvent_category_date_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "TimelineEvent_category_date_idx" ON public."TimelineEvent" USING btree (category, date);


--
-- Name: TimelineEvent_createdById_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "TimelineEvent_createdById_idx" ON public."TimelineEvent" USING btree ("createdById");


--
-- Name: TimelineEvent_deletedAt_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "TimelineEvent_deletedAt_idx" ON public."TimelineEvent" USING btree ("deletedAt");


--
-- Name: TimelineEvent_familyNodeId_date_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "TimelineEvent_familyNodeId_date_idx" ON public."TimelineEvent" USING btree ("familyNodeId", date);


--
-- Name: TimelineEvent_profileId_date_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "TimelineEvent_profileId_date_idx" ON public."TimelineEvent" USING btree ("profileId", date);


--
-- Name: User_email_key; Type: INDEX; Schema: public; Owner: memorial
--

CREATE UNIQUE INDEX "User_email_key" ON public."User" USING btree (email);


--
-- Name: User_role_idx; Type: INDEX; Schema: public; Owner: memorial
--

CREATE INDEX "User_role_idx" ON public."User" USING btree (role);


--
-- Name: User_telegramId_key; Type: INDEX; Schema: public; Owner: memorial
--

CREATE UNIQUE INDEX "User_telegramId_key" ON public."User" USING btree ("telegramId");


--
-- Name: AuditLog AuditLog_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."AuditLog"
    ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: CandleLight CandleLight_profileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."CandleLight"
    ADD CONSTRAINT "CandleLight_profileId_fkey" FOREIGN KEY ("profileId") REFERENCES public."Profile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: CandleLight CandleLight_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."CandleLight"
    ADD CONSTRAINT "CandleLight_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ContentBlock ContentBlock_photoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ContentBlock"
    ADD CONSTRAINT "ContentBlock_photoId_fkey" FOREIGN KEY ("photoId") REFERENCES public."Media"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ContentBlock ContentBlock_profileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ContentBlock"
    ADD CONSTRAINT "ContentBlock_profileId_fkey" FOREIGN KEY ("profileId") REFERENCES public."Profile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FamilyClan FamilyClan_treeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."FamilyClan"
    ADD CONSTRAINT "FamilyClan_treeId_fkey" FOREIGN KEY ("treeId") REFERENCES public."FamilyTree"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FamilyConnection FamilyConnection_fromNodeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."FamilyConnection"
    ADD CONSTRAINT "FamilyConnection_fromNodeId_fkey" FOREIGN KEY ("fromNodeId") REFERENCES public."FamilyNode"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FamilyConnection FamilyConnection_toNodeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."FamilyConnection"
    ADD CONSTRAINT "FamilyConnection_toNodeId_fkey" FOREIGN KEY ("toNodeId") REFERENCES public."FamilyNode"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: FamilyNode FamilyNode_clanId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."FamilyNode"
    ADD CONSTRAINT "FamilyNode_clanId_fkey" FOREIGN KEY ("clanId") REFERENCES public."FamilyClan"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: FamilyNode FamilyNode_photoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."FamilyNode"
    ADD CONSTRAINT "FamilyNode_photoId_fkey" FOREIGN KEY ("photoId") REFERENCES public."Media"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: FamilyNode FamilyNode_treeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."FamilyNode"
    ADD CONSTRAINT "FamilyNode_treeId_fkey" FOREIGN KEY ("treeId") REFERENCES public."FamilyTree"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: GalleryItem GalleryItem_mediaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."GalleryItem"
    ADD CONSTRAINT "GalleryItem_mediaId_fkey" FOREIGN KEY ("mediaId") REFERENCES public."Media"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: GalleryItem GalleryItem_profileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."GalleryItem"
    ADD CONSTRAINT "GalleryItem_profileId_fkey" FOREIGN KEY ("profileId") REFERENCES public."Profile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: GuestMemory GuestMemory_authorUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."GuestMemory"
    ADD CONSTRAINT "GuestMemory_authorUserId_fkey" FOREIGN KEY ("authorUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: GuestMemory GuestMemory_mediaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."GuestMemory"
    ADD CONSTRAINT "GuestMemory_mediaId_fkey" FOREIGN KEY ("mediaId") REFERENCES public."Media"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: GuestMemory GuestMemory_profileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."GuestMemory"
    ADD CONSTRAINT "GuestMemory_profileId_fkey" FOREIGN KEY ("profileId") REFERENCES public."Profile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LegacyClaim LegacyClaim_claimantId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."LegacyClaim"
    ADD CONSTRAINT "LegacyClaim_claimantId_fkey" FOREIGN KEY ("claimantId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LegacyClaim LegacyClaim_legacyContactId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."LegacyClaim"
    ADD CONSTRAINT "LegacyClaim_legacyContactId_fkey" FOREIGN KEY ("legacyContactId") REFERENCES public."LegacyContact"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: LegacyContact LegacyContact_heirUserId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."LegacyContact"
    ADD CONSTRAINT "LegacyContact_heirUserId_fkey" FOREIGN KEY ("heirUserId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: LegacyContact LegacyContact_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."LegacyContact"
    ADD CONSTRAINT "LegacyContact_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Media Media_uploadedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."Media"
    ADD CONSTRAINT "Media_uploadedById_fkey" FOREIGN KEY ("uploadedById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: PasswordResetToken PasswordResetToken_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."PasswordResetToken"
    ADD CONSTRAINT "PasswordResetToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProfileAccessCode ProfileAccessCode_profileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ProfileAccessCode"
    ADD CONSTRAINT "ProfileAccessCode_profileId_fkey" FOREIGN KEY ("profileId") REFERENCES public."Profile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProfileAccess ProfileAccess_grantedBy_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ProfileAccess"
    ADD CONSTRAINT "ProfileAccess_grantedBy_fkey" FOREIGN KEY ("grantedBy") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: ProfileAccess ProfileAccess_profileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ProfileAccess"
    ADD CONSTRAINT "ProfileAccess_profileId_fkey" FOREIGN KEY ("profileId") REFERENCES public."Profile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProfileAccess ProfileAccess_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ProfileAccess"
    ADD CONSTRAINT "ProfileAccess_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProfileDispute ProfileDispute_duplicateOfProfileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ProfileDispute"
    ADD CONSTRAINT "ProfileDispute_duplicateOfProfileId_fkey" FOREIGN KEY ("duplicateOfProfileId") REFERENCES public."Profile"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ProfileDispute ProfileDispute_mergeRequestId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ProfileDispute"
    ADD CONSTRAINT "ProfileDispute_mergeRequestId_fkey" FOREIGN KEY ("mergeRequestId") REFERENCES public."ProfileMergeRequest"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: ProfileDispute ProfileDispute_profileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ProfileDispute"
    ADD CONSTRAINT "ProfileDispute_profileId_fkey" FOREIGN KEY ("profileId") REFERENCES public."Profile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProfileDispute ProfileDispute_reporterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ProfileDispute"
    ADD CONSTRAINT "ProfileDispute_reporterId_fkey" FOREIGN KEY ("reporterId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProfileMergeRequest ProfileMergeRequest_requesterId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ProfileMergeRequest"
    ADD CONSTRAINT "ProfileMergeRequest_requesterId_fkey" FOREIGN KEY ("requesterId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProfileMergeRequest ProfileMergeRequest_sourceProfileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ProfileMergeRequest"
    ADD CONSTRAINT "ProfileMergeRequest_sourceProfileId_fkey" FOREIGN KEY ("sourceProfileId") REFERENCES public."Profile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: ProfileMergeRequest ProfileMergeRequest_targetProfileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."ProfileMergeRequest"
    ADD CONSTRAINT "ProfileMergeRequest_targetProfileId_fkey" FOREIGN KEY ("targetProfileId") REFERENCES public."Profile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: Profile Profile_coverPhotoId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."Profile"
    ADD CONSTRAINT "Profile_coverPhotoId_fkey" FOREIGN KEY ("coverPhotoId") REFERENCES public."Media"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Profile Profile_familyNodeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."Profile"
    ADD CONSTRAINT "Profile_familyNodeId_fkey" FOREIGN KEY ("familyNodeId") REFERENCES public."FamilyNode"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: Profile Profile_ownerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."Profile"
    ADD CONSTRAINT "Profile_ownerId_fkey" FOREIGN KEY ("ownerId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: QrPlaque QrPlaque_profileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."QrPlaque"
    ADD CONSTRAINT "QrPlaque_profileId_fkey" FOREIGN KEY ("profileId") REFERENCES public."Profile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TgLoginToken TgLoginToken_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."TgLoginToken"
    ADD CONSTRAINT "TgLoginToken_userId_fkey" FOREIGN KEY ("userId") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: TimelineEvent TimelineEvent_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."TimelineEvent"
    ADD CONSTRAINT "TimelineEvent_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public."User"(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: TimelineEvent TimelineEvent_familyNodeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."TimelineEvent"
    ADD CONSTRAINT "TimelineEvent_familyNodeId_fkey" FOREIGN KEY ("familyNodeId") REFERENCES public."FamilyNode"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: TimelineEvent TimelineEvent_profileId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: memorial
--

ALTER TABLE ONLY public."TimelineEvent"
    ADD CONSTRAINT "TimelineEvent_profileId_fkey" FOREIGN KEY ("profileId") REFERENCES public."Profile"(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 6fnaSQQkzHIZUayzxYrsfnaOwipVwsuLaaltk0AvOhCr9K2sgYnx4zzPBqYfQAQ

